.chat-chat-container{
    height: 80vh;
    overflow-y: auto;
    width: 80%;
}

.chat-container{
    background: rgba(255, 255, 255, 0.95);
    display: flex;
}

.chat-friends-list{
    font-weight: 500;
    font-size: 0.95rem;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
}

.chat-friends-list-item{
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.5rem;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}
.chat-friends-list-item:hover{
    background: rgba(102, 126, 234, 0.1);
    color: #667eea;
}

.chat-messages-container{
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.chat-messages{
    width: 100%;
}