{% extends "index.html" %}

{%block title%} Chat - Social Media Platform {%endblock%}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</head>

<body>

    <div class="chat-container">

        <div id="chat-friends-list" class="chat-friends-list">
            <div class="chat-friends-list-item">
            {% for friend in friends %}
                <h3 id="chat-friend-button" hx-get="/chat/open/{{friend.username}}" hx-trigger="click" hx-target="#messenger">
                    {{friend.username}}
                </h3>
            {%endfor%}
            </div>
        </div>

        <div class="messenger" id="messenger">

        </div>

    </div>
</body>


{% endblock %}