{% extends "index.html" %}

{%block title%} Chat - Social Media Platform {%endblock%}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</head>

<body>


    <div class="chat-container">

        <div id="chat-friends-list" class="chat-friends-list" hx-get="/chat/friends_list" hx-trigger="load">
            loading user list
        </div>

        <div class="messenger" id="messenger">
        </div>

    </div>
</body>

{% endblock %}